{% extends 'core/base.html' %}
  
{% block titulo %}
    Comisiones
{% endblock titulo %}

{% block contenido %}
    <div class="row row-cols-1 row-cols-md-2">
        {% for comision in comisiones %}
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ App.nombre }}</h2>
                        <p class="card-text text-muted">Curso: {{ App.curso }}</p>
                        {% if App.profesor %}
                            <p class="card-text">{{ App.profesor }}</p>
                        {% else %}
                            <p class="card-text">No se encuentra profesor</p>
                        {% endif %}
                        {% if App.estudiante %}
                            <p class="card-text">{{ App.estudiante }}</p>
                        {% else %}
                            <p class="card-text">No se encuentra estudiante</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}
   
