{% extends 'core/base.html' %}
{% block titulo %}
    App Tienda
{% endblock titulo %}
{% block contenido %}
<div class="container my-5">
    <h3 class="pb-3 border-bottom">Categoría de tienda</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a class="btn btn-primary me-md-2" href="{% url 'producto:productocategoria_create' %}" role="button">Crear Categorías tienda</a>
        <a class="btn btn-outline-primary" href="{% url 'producto:productocategoria_list' %}" role="button">Listar Categorías tienda</a>
    </div>

    <h3 class="pb-3 border-bottom">Tienda</h3>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a class="btn btn-success me-md-2" href="{% url 'producto:producto_create' %}" role="button">Crear Articulos</a>
        <a class="btn btn-outline-success" href="{% url 'producto:producto_list' %}" role="button">Listar Articulos</a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a class="btn btn-secondary" href="{% url 'core:home' %}" role="button">Volver a Inicio</a>
    </div>
</div>

{% endblock contenido %}